<main class="description">
  <h1 class="apartment_number"><a href='/landlord/apartment/<%=@apartment.apartment_number%>'>Apartment &num; <%= @apartment.apartment_number %></a></h1>
  <table class="table">
    <thead class="thead">
      <tr>
        <td>Type</td>
        <td>Note</td>
        <td>Status</td>
        <td>Update</td>
        <td>Date raised</td>
        <td>Date closed</td>
        <td>Tenant raising request</td>
      </tr>
    </thead>
    <tbody>
      <% @ordered_notes = @notes.order(outstanding: :desc) %>
      <% @ordered_notes.each do |note|%>
      <tr> 
        <td><%= note.note_type %></td>
        <td class="note_content"><%= note.content %></td>
        <td><% if note.outstanding%>
          Outstanding
        <% else %>
          Not outstanding
          <% end %></td>
        <td><% if note.outstanding%>
          <form method="post" action="/landlord/notes/<%=note.id%>">
          <input type="hidden" name="apartment_id" value="<%= note.apartment_id %>">
          <button class="btn">Close</button>
          </form>
          <% end %>
        </td>
        <td><%= note.created_at.strftime("%e %B %Y") %></td>
        <td><% unless note.outstanding %>
         <%= note.updated_at.strftime("%e %B %Y") %></td>
         <% end %>
        <td><% if note.tenant %>
            <a href="mailto:<%=note.tenant.email%>"><%= note.tenant.name %></a>
            <% end %> </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</main>