<main class="description">
  <h1 class="apartment_number"><a href='/landlord/apartment/<%=@apartment.apartment_number%>'>Apartment &num; <%= @apartment.apartment_number %></a></h1>
  <table class="table">
    <thead class="thead">
      <tr>
        <td>Amount</td>
        <td>Month</td>
        <td>Status</td>
        <td>Tenant</td>
      </tr>
    </thead>
    <tbody>
      <% @ordered_rents = @rents.order(month: :desc) %>
      <% @ordered_rents.each do |rent|%>
        <tr>
          <td><%= rent.amount %></td>
          <td><%= rent.month.strftime("%B %Y") %></td>
          <td><%= rent.pay_status %></td>
          <td><%= rent.tenant.name %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</main>