<script src="/javascript/show_page.js" type="text/javascript"></script>

<main class="description">
  <div class="description-container">
    <header>
      <h2 id="allow-editing-switch" style="color:red;cursor:pointer;display:inline;">Allow editing</h2>
      <!-- i put in this temporary inline styling, remove it later, you probably want to apply display:inline in the css however -->
      <h1>Apartment <%=@apartment.apartment_number%></h1>
    </header>
    <table style="border:1px black solid"> <!-- this temporary styling to help me see where the table is, remove later -->
      <tr>
        <td>Lease start</td>
        <td class="show-col"><%=@apartment.lease_start%></td>
        <td class="edit-col">
          <%=@apartment.lease_start%>
        </td>
      </tr>
      <tr>
        <td>Lease end</td>
        <td class="show-col"><%=@apartment.lease_end%></td>
        <td class="edit-col">
          <%=@apartment.lease_start%>
          <form method="post" action="/landlord/apartment/<%= @apartment.id %>/update_lease" style="display:inline"><!-- MOVE DISPLAY TO CSS -->
            <label for="lease_start">New Lease Start</label>
            <input name="lease_start" type="date" id="lease_start" value="<%=@apartment.lease_start%>">
            <label for="lease_end">New Lease End</label>
            <input name="lease_end" type="date" id="lease_end" value="<%=@apartment.lease_end%>">
            <button type="submit">Update Lease Dates</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>Parking spaces</td>
        <td class="show-col">
          <% @apartment.car_spaces.each do |car_space| %>
            <%=car_space.id.to_s %>
          <% end%>
        </td>
        <td class="edit-col">
          <% @apartment.car_spaces.each do |car_space| %>
            <form method="post" action="/landlord/apartment/<%= @apartment.id %>/unassign_car_space/<%= car_space.id %>" style="display:inline"><!-- TODO: MOVE DISPLAY TO CSS -->
              <button class="unassign-car-space" id="unassign-car-space-<%= car_space.id %>">Unassign <%=car_space.id.to_s %></button>
            </form>
          <% end%>
          <form method="post" action="/landlord/apartment/<%= @apartment.id %>/assign_car_space" style="display:inline"><!-- MOVE DISPLAY TO CSS -->
            <select name="new_car_space" id="new_car_space" class="assign-new-car-space">
              <!-- TODO: sort this iterator -->
              <% CarSpace.all.each do |car_space_it| %>
                <% unless car_space_it.apartment == @apartment %>
                  <option value="<%= car_space_it.id %>"><%= car_space_it.id %> (<%=  %>)</option>
                <% end %>
              <% end %>
            </select>
            <button type="submit">Assign new</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>Rent amount</td>
        <td class="show-col"><%=@apartment.rents.last.amount %></td>
        <td class="edit-col">
          <%=@apartment.rents.last.amount %>
            <form method="post" action="/landlord/apartment/<%= @apartment.id %>/update_rent" style="display:inline"><!-- MOVE DISPLAY TO CSS -->
              <label for="new_rent">Update Rent</label>
              <input name="new_rent" type="string" id="new_rent">
              <button type="submit">Submit</button>
            </form>
        </td>
      </tr>
      <tr> <!-- ROW FOR CURRENT TENANT (DISPLAYS WITH "UNOCCUPIED" IF THERE IS NONE) -->
        <td>Current tenant name</td>
        <td class="show-col"><%=@apartment.tenant_name%></td>
        <td class="edit-col">
          <%=@apartment.tenant_name%>
          <button id="show-new-tenant-form-button">New Tenant!</button>
          <form method="post" action="/landlord/apartment/<%= @apartment.id %>/new_tenant" id="show-new-tenant-form">
            <label for="lease_start">Lease Start:</label>
            <input name="lease_start" type="date" id="lease_start" value="<%=@apartment.lease_end%>">
            <label for="lease_end">Lease End:</label>
            <input name="lease_end" type="date" id="lease_end" value="<%=@apartment.lease_end%>">
            <label for="tenant_name">Tenant Name:</label>
            <input name="tenant_name" type="text" id="tenant_name">
            <label for="tenant_email">Tenant Email:</label>
            <input name="tenant_email" type="email" id="tenant_email">
            <label for="tenant_phone">Tenant Phone:</label>
            <input name="tenant_phone" type="text" id="tenant_phone">
            <button type="submit">Submit</button>
          </form>
        </td>
      </tr>
      <% if @apartment.upcoming_tenant %> <!-- ROW FOR UPCOMING TENANT (DOES *NOT* DISPLAY IF THERE IS NONE) -->
        <tr>
          <td>Upcoming tenant</td>
          <td class="show-col"><%=@apartment.upcoming_tenant.name%></td>
          <td class="edit-col">
            <%=@apartment.upcoming_tenant.name%>
            <form method="post" action="/landlord/apartment/<%= @apartment.id %>/delete_upcoming_tenant" style="display:inline"><!-- MOVE DISPLAY TO CSS -->
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Notes and service requests</td>
        <td><a href='/landlord/apartment/<%= @apartment.id %>/notes'>See all notes</a></td>
      </tr>
      <tr>
        <td>Tenant history</td>
        <td><a href='/landlord/apartment/<%= @apartment.id %>/tenants'>See all tenants</a></td>
      </tr>
      <tr>
        <td>Rent payments</td>
        <td><a href='/landlord/apartment/<%= @apartment.id %>/rents'>See all rents</a></td>
      </tr>
    </table>
  </div>
</main>


<div>
  <% erb :_alerts, locals: {mode: :apartment, apartment: @apartment} %>
</div>
