<main class="description">
  <h1 class="apartment_number"><a href='/landlord/apartment/<%=@apartment.id%>'>Apartment &num; <%= @apartment.apartment_number %></a></h1>
  <table class="table">
    <thead class="thead">
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Phone number </td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
      <% @ordered_tenants = @tenants.order(:active) %>
      <% @ordered_tenants.each do |tenant|%>
        <tr>
          <td><%= tenant.name %></td>
          <td><a href='mailto:<%=tenant.email%>'><%= tenant.email %></a></td>
          <td><%= tenant.phone_number %></td>
          <td><%= tenant.active%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</main>