<main class="description">
  <table>
    <thead>
      <tr>
        <th colspan="4"><a href='/landlord/apartment/<%=@apartment.id%>'>Apartment &num; <%= @apartment.apartment_number %></a></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Phone number </td>
          <td>Status</td>
        </tr>
      <% @ordered_tenants = @tenants.order(active: :desc) %>
      <% @ordered_tenants.each do |tenant|%>
        <tr>
          <td><%= tenant.name %></td>
          <td><a href='mailto:<%=tenant.email%>'><%= tenant.email %></a></td>
          <td><%= tenant.phone_number %></td>
          <td><% if tenant.active == "active" %>
              Active
            <% else %>
              Not Active
            <% end %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</main>