<main class="description">
  <table>
    <thead>
      <tr>
        <th colspan="4">Apartment &num; <%= @apartment.apartment_number %></th>
      </tr>
    </thead>
    <tbody>
      <% @tenants.each do |tenant|%>
        <tr>
          <td><%= tenant.name %></td>
          <td><%= tenant.email %></td>
          <td><%= rent.phone_number %></td>
          <td><%= rent.active %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</main>