<header>
    <h1>Alerts</h1>
  </header>

  <section class="overdue">
    <header>
      <h2 class="alerts-title">Overdue rent</h2>
    </header>
    <main class="alerts-body">
      <% if mode == "all" %>
        <ul class="alerts-list">
          <% overdues = Apartment.joins(:rents).where(rents: { pay_status: 'not paid'}) %>
          <% overdues.uniq.each do |overdue| %>
            <li><a href="/landlord/apartment/<%= overdue.id%>" ><%= overdue.apartment_number %></a></li>
          <% end %>
          <!--populate the list with query on overdue rent -->
        </ul>
      <% end %>
      <% if mode == "apartment" %>
        <% if @apartment.rents.find_by(pay_status: 'not paid') %>
          Yes
        <% else %>
          No 
        <% end %>
      <% end %>

    </main>
  </section>

  <section class="outstanding">
    <header>
      <h2 class="alerts-title">Outstanding service requests</h2>
    </header>
    <main class="alerts-body">
      <ul class="alerts-list">
        <% if mode == "all"%>
          <% outstanding = Apartment.joins(:notes).where(notes: { outstanding: true}) %>
          <% outstanding.uniq.each do |outstanding| %>
            <li><a href="/landlord/apartment/<%= outstanding.id%>/notes" ><%= outstanding.apartment_number %></a> </li>
          <% end %>
        <% end %>
        <% if mode == "apartment" %>
          <% @apartment.notes.where(outstanding: true).each do |outstanding| %>
            <li><%= outstanding.content %> </li>
          <% end %>
        <% end %>
        <!--populate the list with query on service requests -->
      </ul>
    </main>
  </section>

  <section class="lease-ending">
    <header>
      <h2 class="alerts-title">Lease ending soon</h2>
    </header>
    <main class="alerts-body">
      <% if mode == "all" %>
        <ul class="alerts-list">
        <% Apartment.where(lease_end: (Date.today)..(2.months.since)).each do |apartment|%>
          <li><a href="/landlord/apartment/<%= apartment.id%>" ><%=apartment.apartment_number%></a></li>
        <% end %>
      <% end %>
          <!--populate the list with query on lease ending soon -->
        </ul>
        <% if mode == "apartment" %>
          <% if @apartment.lease_end.between?(Date.today, 2.months.since) %>
            Yes
          <% else %>
            No
          <% end %>
        <% end %>  
    </main>
  </section>