<header>
    <h1>Alerts</h1>
</header>

<% if mode == "all" %>
  <% overdues = Apartment.joins(:rents).where(rents: { pay_status: 'Not paid'}) %>
  <% overdues.uniq.each do |overdue| %>
    <div class="alert"><a href="/landlord/apartment/<%= overdue.id%>" >Rent overdue for apartment <%= overdue.apartment_number %></a></div>
  <% end %>
  <!--populate the list with query on overdue rent -->
<% end %>
<% if mode == "apartment" %>
  <% if @apartment.overdue? %>
    <div class="alert">Rent overdue!</div>
  <% end %>
<% end %>




<% if mode == "all"%>
  <% outstanding = Apartment.joins(:notes).where(notes: { outstanding: true}) %>
  <% outstanding.uniq.each do |outstanding| %>
    <div class="alert"><a href="/landlord/apartment/<%= outstanding.id%>/notes" >New note from apartment <%= outstanding.apartment_number %></a> </div>
  <% end %>
<% end %>
<% if mode == "apartment" %>
  <% @apartment.notes.where(outstanding: true).each do |outstanding| %>
    <div class="alert">New <%=outstanding.note_type%> - <%= outstanding.content %> </div>
  <% end %>
<% end %>
<!--populate the list with query on service requests -->


<% if mode == "all" %>
  <% Apartment.lease_ending.each do |apartment|%>
    <div class="alert"><a href="/landlord/apartment/<%= apartment.id%>" >Lease ending soon for <%=apartment.apartment_number%></a></div>
  <% end %>
<% end %>
  <!--populate the list with query on lease ending soon -->
<% if mode == "apartment" %>
  <% if @apartment.lease_ending? %>
    <div class="alert">Lease ending soon!</div>
  <% end %>
<% end %>  
